body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  margin-left: auto;
  margin-right: auto;
}

#kanal-h {
  font-size: 33px;
  margin-bottom: 1em;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}

#kanal {
  background-color: #FFFF99;
  color: #495785;
}

#sporocila {
  width: 85%;
  height: 450px;
  overflow: auto;
  margin-bottom: 1em;
}

#seznam {
  float: right;
  width: 15%;
  height: 450px;
  overflow: auto;
}

#seznam-kanalov {
  height: 60%;
  overflow: auto;
}

#seznam-uporabnikov {
  height: 40%;
  overflow: auto;
}

#seznam-kanalov div, #seznam-uporabnikov div {
  border-bottom: 1px solid #eee;
  padding: 3px 0;
  cursor: pointer;
  margin-left: 10px;
}

#seznam-kanalov div:hover, #seznam-uporabnikov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 49%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin-right: 0;
  margin-left: 46px;
  padding: 12px 1% 11px 1%;
  color: #444444;
  font-size: 15px;
}

#poslji-sporocilo:focus {
  outline-width: 0;
}

#poslji-obrazec {
  text-align: right;
  width: 82.7%;
}

#poslji-gumb {
  width: 28%;
  background-color: #FFFFFF;
  color: #495785;
  border: 1px solid #CCCCCC;
  padding: 11px 1% 11px 1%;
  margin-left: -5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#poslji-gumb:hover {
  background-color: #495785;
  border-color: #495785;
  color: #FFFFFF;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}

.notice {
  margin: 10px 30px 10px 46px;
}

.notice-body {
  font-size: 12px;
  background-color: #AAAAAA;
  padding: 5px 6px 4px 6px;
  color: #FFFFFF;
}

.nvtm {
  margin-left: 36px;
}

.message-body {
  display: inline-block;
  min-height: 20px;
  padding: 5px 9px 4px 9px;
  background-color: #FFFFCC;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 10px;
  color: #5B6073;
}

.message-self {
  text-align: right;
  min-height: 20px;
  margin-top: 5px;
  margin-right: 30px;
}

.message-self-body {
  display: inline-block;
  text-align: right;
  min-height: 20px;
  padding: 5px 9px 4px 9px;
  background-color: #5B6073;
  color: #FFFFFF;
  vertical-align: top;
  max-width: 80%;
}

#face-wrap-self {
  float: right;
}

.avtor {
  display: inline-block;
  height: 20px;
  padding: 7px 9px 6px 9px;
  vertical-align: top;
  margin-top: 5px;
  font-size: 11px;
  color: #045B69;
}

.cnvs-avt {
  cursor: pointer;
}